debug.log
.gitignore
### PowerShell ###
# Exclude packaged modules
*.zip

# Exclude .NET assemblies from source
*.dll

### vscode ###
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace